<div class="modal fade" id="editInstrumentModal" tabindex="-1" role="dialog" aria-labelledby="editInstrumentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editInstrumentModalLabel">Edit Instrument:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="confirmEdit" method="get">
          <div class="form-group">
            ID: <b><span class="form-control" style="border-width: 0;border-radius: 0;" id="editInstrumentId"></span></b>
            <small class="font-italic font-weight-light">* ID cannot be modified, you must delete and create a new instrument.</small>
          </div>
          <div class="form-group">
            <label for="location-text" class="col-form-label">Location:</label>
            <input type="text" name="location" class="form-control" id="location-text" placeholder="Enter location">
          </div>
          <div class="form-group">
            <label for="lat" class="col-form-label">Latitude:</label>
            <input type="number" name="lat" step=any class="form-control" id="lat" placeholder="Enter Latitude">
          </div>
          <div class="form-group">
            <label for="long" class="col-form-label">Longitude:</label>
            <input type="number" name="long" step=any class="form-control" id="long" placeholder="Enter Longitude">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save instrument</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">
$('#editInstrumentModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var id = button.data('id');
  var location = button.data('location');
  var lat = button.data('lat');
  var long = button.data('long');
  $(this).find('#editInstrumentId').text(id);
  $(this).find('#location-text').val(location);
  $(this).find('#lat').val(lat);
  $(this).find('#long').val(long);
  $(this).find('#confirmEdit').attr("action", "/instruments/"+id+"/edit");
})
</script>
