<div class="cards-container">
<div class="card-deck mb-4 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header card-connected">
      <h4 class="my-0 font-weight-normal">Connected</h4>
    </div>
    <div class="card-body card-connected">
      <h1 class="card-title pricing-card-title">9 <small class="text-muted">/ 10</small></h1>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header card-disconnected">
      <h4 class="my-0 font-weight-normal">Disconnected</h4>
    </div>
    <div class="card-body card-disconnected">
      <h1 class="card-title pricing-card-title">1</h1>
    </div>
  </div>
</div>
</div>
