<div class="card mb-3 box-shadow">
  <div class="card-header text-center">
    <h5 class="card-title">Controls </h5>
    <i class="lock fas fa-lock-open" onclick="lock()"></i>
  </div>
  <div id="controls_card" class="card-body text-center">
  </div>
</div>
