<div class="card mb-3 box-shadow">
  <div class="card-header text-center">
    <h5 class="card-title">Controls </h5>
  </div>
  <div class="card-body text-center">
    <span class="toggle_wrapper" onclick="send_command('pump')">
    <input id='pump' type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="fast"> Pump
    </span>
    <hr>
    <span class="toggle_wrapper" onclick="send_command('band')">
    <input id='band' type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="fast"> Band
    </span>
    <hr>
    <span class="toggle_wrapper" onclick="send_command('oven')">
    <input id='oven' type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="fast"> Oven
    </span>
    <hr>
    <span class="toggle_wrapper" onclick="send_command('valve')">
    <input id='valve' type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="fast"> Valve
    </span>
    <hr>
    <span class="toggle_wrapper" onclick="send_command('licor')">
    <input id='licor' type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="fast"> Licor
    </span>
    <hr>
    <span class="toggle_wrapper" onclick="send_command('extp')">
    <input id='extp' type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="fast"> Ext. Pump
    </span>
  </div>
</div>
