<div class="card mb-3 box-shadow">
  <div class="card-header text-center">
    <h5 class="card-title">Controls </h5>
  </div>
  <div class="card-body text-center">
    <% controls.forEach(function(control){ %>
      <span class="toggle_wrapper" onclick="send_command('<%= control %>')">
        <input class='<%= control %>' type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="fast"><%= control %>
      </span>
      <hr>
    <% }); %>
  </div>
</div>
