<h2 class="display-5 mb-3">Status Map</h2>
<div id="map" style="width: 100%; height: 500px"></div>
<script src="/javascripts/map.js"></script>
<script>
  <% instruments.forEach(function(instrument) { %>
    id = '<%- instrument.deviceId %>';
    coords = [<%- instrument.metadata.coordinates[0] %>, <%- instrument.metadata.coordinates[1] %>];
    marker = {id: id, data: {name: id, latLng: coords}};
    map.addMarker(marker.id, marker.data, []);
  <% }); %>
</script>
