<%- include ../partials/header.ejs %>
<%- include ../partials/sidebar.ejs %>
<!-- TODO change to bower -->
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.plot.ly/plotly-1.8.0.min.js"></script>
<script type="text/javascript" src="/moment/min/moment.min.js"></script>


<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">



<body class="pl-0 pr-0 bg-light">
  <main class="col-lg-9 ml-lg-auto col-lg-10 px-4">
    <div class="container">
      <b>To:</b> <input id="endDate" width="276" />
    </div>
    <hr>
    <div class="ml-0 mr-0">
      <div class="row border" style="background-color: white;">
        <div class="col-10 pr-0">
          <div id="graph" ></div>
        </div>
        <div class="col-2">
          <div class="cards-container">
            <!-- <div class="card-deck mb-4 text-center">
              <div class="card mb-4 box-shadow">
                <div class="card-header card-connected">
                  <h4 class="my-0 font-weight-normal">
                  Connected
                </h4>
                </div>
                <div class="card-body card-connected">
                  <h1 class="card-title pricing-card-title">
                  <span id="connected_devices"> <%= instruments.connected %></span>
                  <small class="text-muted"> / <span id="total_instruments"><%= instruments.length %></span>
                  </small>
                </h1>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <table id="data_table" class="table table-striped table-bordered nowrap" style="width:100%">
          <thead>
            <tr>
                <th>Date</th>
                <th>Total Carbon</th>
                <th>Max Temperature</th>
                <th>timestamp</th>
            </tr>
          </thead>
        </table>
      </div>

    </div>

  </main>
</body>



<script type="text/javascript">

var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#startDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: today,
            maxDate: function () {
                return $('#endDate').val();
            }
        });
        $('#endDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: function () {
                return $('#startDate').val();
            }
        });

function getDataTable(data) {
  $('#data_table').DataTable( {
    data: data.rows,
    columns: [
        { data: 'date', target: 1 ,render: function(data){return moment(data).format('MMMM Do YYYY, h:mm:ss a')}},
        { data: 'total_carbon' },
        { data: 'max_temp' },
        { data: 'timestamp', visible: false }
    ],
    "order": [[ 0, "desc" ]],
    dom: 'Bfrtip',
    buttons: [
            'copy', 'csv', 'print'
        ]
  });
}

function getData(){
  var jsonData = $.ajax({
      url: "historic/data?from=2018-05-09&to=2018-05-09",
      dataType: "json",
      async: false
  }).responseJSON;

  getDataTable(jsonData);

  total_carbon = {
    name:'Total Carbon',
    type: 'scatter',
    mode: 'lines+markers',
    line: {shape: 'spline'},
    x:[],
    y:[]
  };
  max_temp = {
    name:'Max Temperature',
    type: 'scatter',
    yaxis: 'y2',
    mode: 'lines',
    line: {shape: 'hv', color: 'red'},
    x:[],
    y:[]
  };


  jsonData.rows.forEach(function(datum){
    date = new Date(datum.date);
    total_carbon.x.push(date);
    max_temp.x.push(date);
    total_carbon.y.push(datum.total_carbon);
    max_temp.y.push(datum.max_temp);
  });

  return [total_carbon, max_temp]
}

var x_start, x_end;
getDataGraph();

function getDataGraph() {
  var data = getData();
  margin = 50;
  var layout = {
    // title: 'Analysis Data',
    legend: {x: 0,y: 1.5},
    xaxis: {
        // rangeselector: selectorOptions,
        rangeslider: {}
    },
    yaxis: {title: 'CO2'},
    yaxis2: {
      title: 'Temperature',
      overlaying: 'y',
      rangemode:'tozero',
      autorange: true,
      side: 'right'
    }
  };

  var graphDiv = document.getElementById('graph');

  Plotly.plot(graphDiv, data, layout);

  graphDiv.on('plotly_relayout',function(eventdata){
    x_start = eventdata['xaxis.range'][0]
    x_end = eventdata['xaxis.range'][1]
    $('#data_table').DataTable().draw();
  });
}


$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var time = parseFloat( data[3] ) || 0; // use data for the age column
        if ( ( isNaN( x_start ) && isNaN( x_end ) ) ||
             ( isNaN( x_start ) && time <= x_end ) ||
             ( x_start <= time   && isNaN( x_end ) ) ||
             ( x_start <= time   && time <= x_end ) )
        {
            return true;
        }
        return false;
    }
);


</script>
