<%- include ../partials/header.ejs %>
<%- include ../partials/sidebar.ejs %>
<!-- TODO change to bower -->
<script src="https://cdn.plot.ly/plotly-1.8.0.min.js"></script>
<script type="text/javascript" src="/moment/min/moment.min.js"></script>


<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<body class="pl-0 pr-0 bg-light">
  <main class="col-lg-9 ml-lg-auto col-lg-10 px-4">
    Device ID
  <table id="data_table" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
      <tr>
          <th>timestamp</th>
          <th>Date</th>
          <th>tco2</th>
          <th>co2</th>
          <th>tcat</th>
          <th>spcat</th>
          <th>flow</th>
          <th>countdown</th>
          <th>spband</th>
          <th>toven</th>
          <th>tcoil</th>
          <th>spoven</th>
          <th>pco2</th>
          <th>curr</th>
          <th>runtime</th>
          <th>tband</th>
          <th>spcoil</th>
      </tr>
    </thead>
  </table>
</body>

<script type="text/javascript">
  var eventId = "<%= eventId %>";
</script>

<script type="text/javascript">

getData(eventId, function (data) {
  getDataTable(data);
});

function getData(eventId, callback){
  $.getJSON("/historic/data/"+eventId, function(response){
    callback(response);
  });
}

function getDataTable(data) {
  console.log(data);
  return $('#data_table').DataTable( {
    destroy: true,
    data: data.rows,
    columns: [
        { data: 'timestamp', visible: false},
        { data: 'timestamp', target: 1 ,render: function(data){return moment(data).format('MMMM Do YYYY, h:mm:ss a')}},
        { data: 'tco2' },
        { data: 'co2' },
        { data: 'tcat' },
        { data: 'spcat' },
        { data: 'flow' },
        { data: 'countdown' },
        { data: 'spband' },
        { data: 'toven' },
        { data: 'tcoil' },
        { data: 'spoven' },
        { data: 'pco2' },
        { data: 'curr' },
        { data: 'runtime' },
        { data: 'tband' },
        { data: 'spcoil' }
    ],
    "order": [[ 0, "desc" ]],
    responsive: {
      details: {
        type: 'column',
        target: 'tr'
      }
    },
    dom: 'Bfrtip',
    buttons: [
            'copy', 'csv', 'print'
        ]
  });
}


</script>
